/VistumblerMDB/Backup/
/VistumblerMDB/Settings/Cameras.ldb
/VistumblerMDB/Settings/Cameras.mdb
/VistumblerMDB/Settings/Filters.ldb
/VistumblerMDB/Settings/Filters.mdb
/VistumblerMDB/Settings/Instruments.ldb
/VistumblerMDB/Settings/Instruments.mdb
/VistumblerMDB/Settings/Labels.ldb
/VistumblerMDB/Settings/Labels.mdb
/VistumblerMDB/Settings/Manufacturers.ldb
*.config
#Ignore _vti folders in ExpressionWeb
desktop.ini
_vti_cnf/
_vti_pvt/
