/VistumblerMDB/Backup/
/VistumblerMDB/Settings/Cameras.ldb
/VistumblerMDB/Settings/Cameras.mdb
/VistumblerMDB/Settings/Filters.ldb
/VistumblerMDB/Settings/Filters.mdb
/VistumblerMDB/Settings/Instruments.ldb
/VistumblerMDB/Settings/Instruments.mdb
/VistumblerMDB/Settings/Labels.ldb
/VistumblerMDB/Settings/Labels.mdb
/VistumblerMDB/Settings/Manufacturers.ldb
C:\Users\ACalcutt\Documents\GitHub\Vistumbler\WifiDB_Uploader\.metadata
C:\Users\ACalcutt\Documents\GitHub\Vistumbler\WifiDB_Uploader\.log
C:\Users\ACalcutt\Documents\GitHub\Vistumbler\WifiDB_Uploader\.lock