.console_green {
	color: #00FF00;
}
.console_red {
	color: #FF0000;
}
.console_blue {
	color: #0000FF;
}
.console_yellow {
	color: #FFFF00;
}
.console_lightgray {
	color: #CCCCCC;
}
.console_background {
	color: #000000;
}
