body {
	background:#123;
	margin:0;
	text-align:center;
	line-height: 1.5em;
	color:#123;
	font-size/* */:/**/small; font-style:normal; font-variant:normal; font-weight:normal; font-family:Trebuchet MS
}
.active-box-resize {
	display: none;
}
.style1 {
	font-family: "Courier New", Courier, monospace;
}
  
.style2 {
	text-align: center;
	border-width: 0;
}

.style3 {
	background-color: #477DA9;
}
a.links {
	font-weight: bold; 
	color: #112233;
}
table.importconvert
{ 
	color: #123;
	border-width: 1;
}

table.new
{ 
	border-width: 1;
	border-color: #00FF00;
}
table.new ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #00FF00;
	background-color: #00FF00;
}
table.new td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #00FF00;
	background-color: #00FF00;
}

table.update
{ 
	border-width: 1;
	border-color: #000000;
}

table.update td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #FF0000;
	background-color: #FF0000;
}

table.update ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #FF0000;
	background-color: #FF0000;
}