form div {
	padding: .5em;
}
code:before {
	position: absolute;
	content: 'Code:';
	top: -1.35em;
	left: 0;
}
code {
	margin-top: 1.5em;
	position: relative;
	background: #eee;
	border: 1px solid #aaa;
	white-space: pre;
	padding: .25em;
	min-height: 1.25em;
}
code:before, code {
	display: block;
	text-align: left;
}

body {
    background: #145285;
}

th, td {
  border: 0px solid black;
}

.wrap{
	width:100%;
	height:100%;
	position:relative
}

.head{
	background-color:#145285
}

.foot{
	margin-left: 228px;
}

.foot.active{
	margin-left: 0px;
}

.bodywrap{
	width:100%;
    min-width:350px;
	display: table
}

.main {
	margin-left: 228px;
	margin-right: 0px;
	background: #6388C7;
	border-radius: 10px;
	padding: 10px; 
	min-width: 250px;
	word-wrap: break-word;
}

.main.active {
	margin-left: 0px;
	margin-right: 0px;
	background: #6388C7;
	border-radius: 10px;
	padding: 10px; 
	min-width: 250px;
	word-wrap: break-word;
}

.inside_dark_header {
	text-align: center;
	color: #FFFFFF;
    background: #003366;
	font-weight: bold;
	margin: 5px;
}

.inside_text_bold {
	text-align: left;
	color: #002448;
	font-weight: bold;
	margin: 5px;
}

.annunc_text {
    text-align: center;
    color: #FFFFFF;
    background-color: #003366;
    font-weight: bold;
}

.sub_head{
	background-color:#508FAE;
}

.inside_text_center {
    text-align: center;
    color: #ffffff;
	font-weight: bold;
}

.content_table {
    margin: 0 auto;
	width:100%;
	padding: 1px;
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
	text-align: left;
	background-color: #5b86aa;
	font-weight: bold;
	border: 1px inset black;
	white-space: nowrap;
}

.dark {
	text-align: left;
	background-color: #a1bace;
	border: 1px inset black;
}

.dark a {
	font-weight: bold;
}

.light {
	text-align: left;
	background-color: #d0dce7;
	border: 1px inset black;
}

.light a {
	font-weight: bold;
}

.light-wrapword {
	text-align: left;
	background-color: #d0dce7;
	border: 1px inset black;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.content_table-centered {
    margin: 0 auto;
	padding: 1px;
    border-collapse: collapse;
    border-spacing: 0;
	border: 0px;
}

.header-centered {
	text-align: center;
	background-color: #5b86aa;
	font-weight: bold;
	border: 1px inset black;
}

.dark-centered {
	text-align: center;
	background-color: #a1bace;
	border: 1px inset black;
}

.dark-centered a {
	font-weight: bold;
}

.light-centered {
	text-align: center;
	background-color: #d0dce7;
	border: 1px inset black;
}

.light-centered a {
	font-weight: bold;
}

.yellow {
	text-align: center;
	background-color: yellow;
	border: 1px inset black;
}

.lime {
	text-align: center;
	background-color: lime;
	border: 1px inset black;
}

.red {
	text-align: center;
	background-color: red;
	border: 1px inset black;
}

.orange {
	text-align: center;
	background-color: orange;
	border: 1px inset black;
}

.lightgreen {
	text-align: center;
	background-color: lightgreen;
	border: 1px inset black;
}

.content-centered {
	text-align: center;
	background-color: #6388C7;
	border: 1px inset black;
}

.center {
  text-align: center;
}

.nowrap {
  white-space:nowrap
}


.subheading {
	text-align: center;
	background-color: #477DA9;
	font-weight: bold;
}

.lefthead{
    float:left;
    display: inline;
}

.righthead{
    float:right;
	padding: 4px; 
}
.lefttm{
    float:left;
    display: inline;
}

.righttm{
    float:center;
    display: inline;
	margin: 5px auto;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #145285;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	width:100%;
	height:100%;
	position:relative
}

#sidebar {
	float: left;
	width:200px;
	position: relative;
	background: #6388C7;
	border-radius: 10px;
	padding: 10px; 
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar ul {
	list-style: none;
	font-weight: bold;
    padding:0; 
    margin:0;
}

#sidebar ul li a {
	color: #091E3E;
	margin: 5px;
}
#sidebar ul li a:visited {
	color: #002448;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

a[data-toggle=collapse] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    margin: 0 auto;
	width:100%;
	padding: 1px;
    border-collapse: collapse;
    border-spacing: 0;
}

.bt-menu-trigger {
    float:left;
    display: inline;
	font-size: 14px;
	position: relative;
	width: 2em;
	height: 2em;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}


.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger.bt-menu-alt span:before {
	-webkit-transform: translateY(-0.5em);
	transform: translateY(-0.5em);
}

.bt-menu-trigger.bt-menu-alt span:after {
	-webkit-transform: translateY(0.5em);
	transform: translateY(0.5em);
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
}

.wrapper {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #d0dce7;
  color: #000000;
  border-radius: 2px;
  list-style-type: none;
}
.form-row {
display: flex;
justify-content: flex-end;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
	.main {
		margin-left: 0px;
		margin-right: 0px;
		background: #6388C7;
		border-radius: 10px;
		padding: 10px;
		min-width: 250px;
		word-wrap: break-word;
	}

	.main.active {
		margin-left: 228px;
		margin-right: 0px;
		background: #6388C7;
		border-radius: 10px;
		padding: 10px; 
		min-width: 250px;
		word-wrap: break-word;
	}
	.foot{
		margin-left: 0px;
	}

	.foot.active{
		margin-left: 228px;
	}

	.bt-menu-trigger span:before {
		-webkit-transform: translateY(-0.5em);
		transform: translateY(-0.5em);
	}

	.bt-menu-trigger span:after {
		-webkit-transform: translateY(0.5em);
		transform: translateY(0.5em);
	}

	.bt-menu-trigger.bt-menu-alt span:before {
		-webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
		transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	}

	.bt-menu-trigger.bt-menu-alt span:after {
		-webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
		transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	}
}

.donate-page {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.donate-page>* {
	margin-bottom: 10px;
}
.donate-page img{
	max-width: 300px;
	height: auto;
}
.donate-item {
	display: flex;
	flex-direction: row;
	/* Default: side-by-side */
	align-items: center;
	margin-bottom: 20px;
}
.image-container {
	padding-right: 20px;
}
.qr-code {
	max-width: 150px;
	height: auto;
}
.address-with-box {
	width: 400px;
	/* Make container wider to allow for more horizontal space */
}
.address-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	width: 100%;
}
.address-container h3 {
	text-align: center;
}
.address-box {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 15px;
	background-color: #f9f9f9;
	text-align: center;
	border-radius: 5px;
}
.address-input {
	padding: 10px;
	border: 1px solid #ccc;
	width: calc(100% - 160px);
	font-size: 1.1rem;
}
.copy-button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 14px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1rem;
	margin-left: 5px;
}
.copy-message {
	margin-top: 10px;
	font-size: 0.9rem;
	color: #27a561;
}
/* Media Query for small screens */
@media (max-width: 768px) {
	.donate-item {
		flex-direction: column;
		/* Stack on small screens */
		align-items: center;
	}
	.image-container {
		padding-right: 0;
		padding-bottom: 10px;
	}
	.address-with-box{
		width: auto;
		/* remove fixed width*/
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	body {
		font-size: 130%;
	}
	
	button {
		font-size: 130%;
	}
	
	textarea {
		font-size: 130%;
	}
	
	input[type=file] {
		font-size: 130%;
	}
	
	input[type=text] {
		font-size: 130%;
	}
	
	input[type=submit] {
		font-size: 130%;
	}
	
	select {
		font-size: 130%;
	}
	
	input[type=password] {
		font-size: 130%;
	}	
	input[type=radio] {
		width: 20px;
		height: 20px;
	}
}

