.cell_top_mid {
	border-width: 0px;
	background-image: url('images/cell_top_middle.png');
	background-repeat: repeat-x;
}
.cell_top_right {
	border-width: 0;
	background-image: url('images/cell_top_right.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_top_left {
	background-image: url('images/cell_top_left.png');
	background-repeat: no-repeat;
	border-width: 0px;
	white-space: nowrap;
}
.cell_side_left {
	background-image: url('images/cell_side_left.png');
	background-repeat: repeat-y;
	white-space: nowrap;
}
.cell_bot_left {
	background-image: url('images/cell_bot_left.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_bot_mid {
	background-image: url('images/cell_bot_middle.png');
	background-repeat: repeat-x;
	white-space: nowrap;
}
.cell_bot_right {
	background-image: url('images/cell_bot_right.png');
	background-repeat: no-repeat;
	white-space: nowrap;
}
.cell_side_right {
	background-image: url('images/cell_side_right.png');
	background-repeat: repeat-y;
	white-space: nowrap;
}
.cell_color {
	background-color: #6388c7;
}
a {
	color: #091E3E;
}
a:visited {
	color: #002448;
}
.inside_dark_header {
	text-align: center;
	color: #FFFFFF;
	background-color: #003366;
	font-weight: bold;
}
.inside_header {
	color: #003366;
	font-size: 22pt;
	text-align: center;
}
.inside_text {
	text-align: left;
	color: #002448;
}
.inside_sub_text {
	color: #145285;
	font-size: x-small;
}
.no_border {
	border-width: 0;
}
.center {
	text-align: center;
}
.inside_text_bold {
	text-align: left;
	color: #002448;
	font-weight: bold;
}
