body {
	background:#112233;
	margin:0;
	text-align:center;
	line-height: 1.5em;
	color:#112233;
	font-size/* */:/**/small; font-style:normal; font-variant:normal; font-weight:normal; font-family:Trebuchet MS
}

.content_head{
				color: #A9C6FA;
}

.sub_head{
	background-color:#508FAE;
}

#foo {
	position: absolute;
	z-index: 99;
	left: 120px;
	top: 60px;
}

#leftcolumn{
float:left;
width:90%;
border: 3px solid black;
padding: 5px;
padding-left: 8px;
}

#rightcolumn{
float:left;
width:90%;
min-height: 400px;
border: 3px solid black;
padding: 5px;
padding-bottom: 8px;
}

* html #rightcolumn{ /*IE only style*/
height: 400px;
}

.daemon_kml {
	text-align: center;
}

.active-box-resize {
	display: none;
}

.good{
	background-color: #0F0;
}

.bad
{ 
	background-color: #F00;

}

.style1 {
	font-family: "Courier New", Courier, monospace;
	background-color: #477DA9;
}
  
.style2 {
	text-align: center;
	border-width: 1;
}

.style3 {

	border: 1;
	background-color: #477DA9;
}

.style4
{
	text-align: center;
	border-width: 1; 
	background-color: #477DA9;
}

.style4.ha
{
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	background-color: #477DA9;
}

.style4.td
{
	text-align: center;
	border-width: 1; 
	background-color: #477DA9;
}

.cp_select_column {
	border-style: none;
	border-color: inherit;
	border-width: 1px;
	background-color: #315573;
}

.tree {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.cp_select_coloum {
	border-style: none;
	border-color: inherit;
	border-width: 1px;
	background-color: #315573;
}

a.links {
	font-weight: bold; 
	color: #123;
}

a.links_s {
	font-weight: bold; 
	color: #CCC;
}

a.links_sa{
	font-weight: bold; 
	color: #05F;
}

a.upgrade {
	font-weight: bold; 
	color: #0F0;
}

a.email {
	font-weight: bold; 
	color: #128;
}

table.importconvert
{ 
	color: #123;
	border-width: 1;
}

table.new
{ 
	border-width: 1;
	border: 1;
	border-color: #0F0;
	width: "90%";
}

table.new ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #0F0;
	background-color: #477DA9;
}

table.new td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #0F0;
	background-color: #0F0;
}

table.update
{ 
	border-width: 1;
	border: 1;
	border-color: #F00;
	width: "90%";
}

table.update td {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #F00;
	background-color: #F00;
}

table.update ha {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: #F00;
	background-color: #477DA9;
}

.title_text{
	size: 5;
	font-family: Arial;
	color: #FFFFFF;
}

.title_pane.td{
	background-color: #315573;
}

.contents_pane.td{
	background-color: #304D80;
	width: 15%;
	vertical-align: top;
}

.center_pane.td{
	background-color: #A9C6FA;
	width: 80%;
	vertical-align: top;
	text-align: center;
}

.dark {
	background-color: #85ABCB;
}

.light {
	background-color: #BAD0E2;
}