vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jan 2009 19:23:06 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|Andrew-PC\\Andrew
vti_modifiedby:SR|leadmine\\Andrew
vti_timecreated:TR|01 Jan 2009 20:01:08 -0000
vti_backlinkinfo:VX|downloads.htm index.htm verhist.htm Vistumbler.dwt
vti_cacheddtm:TX|25 Jan 2009 19:23:06 -0000
vti_filesize:IR|1659
vti_cachedlinkinfo:VX|S|images/cell_top_middle.png S|images/cell_top_right.png S|images/cell_top_left.png S|images/cell_side_left.png S|images/cell_bot_left.png S|images/cell_bot_middle.png S|images/cell_bot_right.png S|images/cell_side_right.png
vti_cachedsvcrellinks:VX|FSUS|images/cell_top_middle.png FSUS|images/cell_top_right.png FSUS|images/cell_top_left.png FSUS|images/cell_side_left.png FSUS|images/cell_bot_left.png FSUS|images/cell_bot_middle.png FSUS|images/cell_bot_right.png FSUS|images/cell_side_right.png
