vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Oct 2012 01:14:04 -0000
vti_extenderversion:SR|12.0.0.6211
vti_author:SR|Andrew-PC\\Andrew
vti_modifiedby:SR|WSC_DOMAIN\\acalcutt
vti_timecreated:TR|01 Jan 2009 20:01:08 -0000
vti_backlinkinfo:VX|downloads.html verhist.html Vistumbler.dwt index.html
vti_cacheddtm:TX|19 Oct 2012 01:14:04 -0000
vti_filesize:IR|3930
vti_cachedlinkinfo:VX|S|images/cell_top_middle.png S|images/cell_top_right.png S|images/cell_top_left.png S|images/cell_side_left.png S|images/cell_bot_left.png S|images/cell_bot_middle.png S|images/cell_bot_right.png S|images/cell_side_right.png
vti_cachedsvcrellinks:VX|FSUS|images/cell_top_middle.png FSUS|images/cell_top_right.png FSUS|images/cell_top_left.png FSUS|images/cell_side_left.png FSUS|images/cell_bot_left.png FSUS|images/cell_bot_middle.png FSUS|images/cell_bot_right.png FSUS|images/cell_side_right.png
